{% extends "base.html" %}

{% block title %}S Plate : 로그인{% endblock %}
{% block content %}
<article class="form-area">
  <h2 class="topic">LOGIN</h2>
  <form id="login_form" class="login_form" action="{{ url_for('login') }}" method="POST">
    <div id="id_input" class="form_field">
      <span>ID</span>
      <input type="text" id="user_id" name="user_id">
    </div>

    <div id="password_input" class="form_field">
      <span>Password</span>
      <input type="password" id="user_pw" name="user_pw">
    </div>
    <button onclick="loginClick();" type="button" class="btn-sign btn-up">Login</button>
  </form>
</article>
{% endblock %}